DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nextnest?schema=public"
PORT=3001

AUTH_ACCESS_TOKEN_SECRET="replace-with-at-least-32-random-characters"
AUTH_ACCESS_TOKEN_TTL_SECONDS=900
AUTH_REFRESH_TOKEN_TTL_SECONDS=2592000

AUTH_EMAIL_CODE_SECRET="replace-with-at-least-32-random-characters"
AUTH_EMAIL_CODE_TTL_SECONDS=600
AUTH_EMAIL_CODE_COOLDOWN_SECONDS=60
AUTH_EMAIL_CODE_MAX_ATTEMPTS=5
